
}
body {
	font-color: #990000;
	font-family: Impact;

}

h1{
	font-color: #800000;
	font-family:Impact;
	font-size: 200px;

}

p {
	font-family:Impact;
	width: 900px;
	text-align: justify-all;


}

body { background-color: #FFFF33 }

.container {
	height: 500 px;
	margin: 60 px;
	margin-top: 50px;
	text-align: justify;
	text-align-last: center;
}